*{
    margin: 0px;
    padding: 0px;
}
body{
    background-size:contain;
    background-image: url(./resimler/sitebackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;

}
#page{
    border-style: double;
    border-color: rgb(198, 19, 19);
    width: 750px;
    height: 600px;
    margin: auto;
}
#banner{
    border-style: dashed;
    width:700px ;
    height: 100px;
    margin: auto;
    background-color: none;

}
#banner #logo{
    width: 100px;
    height: 80px;
    background-color: none;
    position: relative;
    top: 10px;
    left: 10px;
    float: left;
}
/* sosyal medya ikonları*/
#banner #sosyal{
    width: 100px;
    height: 40px;
    background-color: none;
    float: right;
    position: relative;
    border-width: -5px;
    top: 20px;
    right: 15px;
}
#banner #sosyal li{
    width: 30px;
    float: left;
    padding: 10px;
    list-style-type: none;
}
#banner #sosyal #ikon{
    width: 37px;
    height: 40px;
    border-width: 30px;
    background-color: none;
    position: relative;
    left: 3px;
}
#mainmenu{
    
    border-width: 1px;
    width: 400px;
    height: 40px;
    margin: auto;
   
}
#mainmenu ul{
    list-style-type: none;
}
#mainmenu ul li{
    width: 100px;
    height: 10px;
    border-width: 3px;
    border-radius: 9px;
    float: left;
    position:relative;
    padding:initial;
    left: 10px;
    margin: auto;
}
#mainmenu ul li a .nav-button{
    width: 75px;
    height: 20px;
    position: relative;
    margin: auto;
    bottom: 20px;
}
#mainmenu ul a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-weight:bold;
    color:rgb(143, 76, 10);
}
#mainmenu ul a:hover{
    color:rgb(12, 159, 196);
}
/* içerik ve yanmenu kodları */
#icerik{
    border-color: blue;
    border-style: double;
    width:600px;
    height: 400px;
    position: relative;
    float: left;
}
/*article bölümü*/
#icerik #paragraf{
   
    width: 600px;
    height: 400px;
    
}
/*article baslik*/
#icerik #paragraf .baslik{
    color: red;
    float: left;
    position: relative;
    padding: 20px;

}
/*article paragraf*/
#icerik #paragraf .metin{
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(21, 187, 170);
    font-size: large;
}
/*aside bölümü*/
#yanmenu{
    width: 140px;
    height: 300px;
    position: relative;
    float: left;
    left: 50px;
    top: -18px;
}
/*yan menu baslik*/
#yanmenu #yankutu .kenarbaslik{
    color: red;
    font-size: medium;
}
/*yan menu paragraf*/
#yanmenu #yankutu .yanmetin{
    color: rgb(112, 8, 141);
    border-style: solid;
    border-color: rgb(17, 186, 17);
    font-size: small;
    width: 90px;
    height: 400px;
    position: relative;
}
/*footer bölümü*/
#altmenu{
    width: 400px;
    height: 45px;
    border-width: 1px;
    
    position: relative;
    float: left;
    border-style: solid ;
    border-color: rgb(41, 17, 126);
    left:200px;
} 
/*footer nav*/
#altmenu #footernav ul li a{
    text-decoration: none;
    color: rgb(250, 164, 6);
}
#altmenu #footernav ul li a:hover{
    color: red;
}
#altmenu #footernav ul li{
    list-style-type: none;
    width: 80px;
    height: 20px;
    border-width: 3px;
    border-radius: 10px;
    float: right;
    position: relative;
    padding: 4px;
    right: 50px;
    top: 8px;
    margin: auto;
    font-weight: bold;
    font-size: small;
}
